<?xml version="1.0" 
encoding="UTF-8"?>
<web-app version="3.1" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
	http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	
	
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Home</servlet-name>
  	<servlet-class>com.shop.domen.HomeServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>LoginServlet</display-name>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>com.shop.domen.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RegisterServlet</display-name>
  	<servlet-name>RegisterServlet</servlet-name>
  	<servlet-class>com.shop.domen.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>BuyServlet</display-name>
  	<servlet-name>BuyServlet</servlet-name>
  	<servlet-class>com.shop.domen.BuyServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>PageServlet</display-name>
  	<servlet-name>PageServlet</servlet-name>
  	<servlet-class>com.shop.domen.PageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Home</servlet-name>
  	<url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BuyServlet</servlet-name>
  	<url-pattern>/BuyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PageServlet</servlet-name>
  	<url-pattern>/PageServlet</url-pattern>
  </servlet-mapping>

</web-app>
